.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.project
.classpath
.apt_generated
.sts4-cache/
.idea
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
*.iml
modules.xml
*.ipr
*.class
*.log
*.ctxt
hs_err_pid*
build/
nbbuild/
dist/
nbdist/
.nb-gradl
rebel.xml
rebel-remote.xml
.gradle/

nukkit.yml
server.log
server.conf
worlds/*
plugins/*
players/*
logs/*
resource_packs/*
